.btn {
margin-top: 20px;
width: 320px;

}
.navbar{
background-color:burlywood;

}


.body{
background-color: blueviolet;

}
.nav1{
font-size: 38px;
font-family:Verdana;

}

.card1{
background: transparent;


}
.card2{
width: 390px;

}